extends materialize
block head
  include /styles/main
  block style
block body
  header(style='padding-bottom: 2em;')
    block navbar
      include /elements/navbar
    block header
  main
    block content
  block footer
    include /elements/footer
  block scripts
    script(type='text/javascript').
      jQuery(document).ready(function (){
        $('.button-collapse').sideNav();
      });
    block pagescript
