extends /layouts/main
block title
  title Manage Users
block content
  div(class='container')
    div(class='row')
      div(class='card s12 m6')
        table
          thead
            tr
              th Username
              th First Name
              th Last Name
              th Email
              th Created At
