footer(class='page-footer grey darken-3')
  div(class='container')
    div(class='row')
      div(class='col 16 s12')
        h5(class='white-text') Daniele's Home server
        p(class='grey-text text-lighten-4') This is my personal Home Server I built to control my Home.
    div(class='footer-copyright')
      div(class='container')
        |© 2016 Daniele Monteleone
        a(class='grey-text text-lighten-4 right' href='https://github.com/iH8c0ff33') My GitHub Page
