doctype html
html
    head
        block title
            title TITLE NOT SET
        style.
            @font-face {
                font-family: 'Material Icons';
                font-style: normal;
                font-weight: 400;
                src: local('Material Icons'), local('MaterialIcons-Regular'), url('/public/font/icons.woff2') format('woff2');
            }

            .material-icons {
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 24px;
                line-height: 1;
                letter-spacing: normal;
                text-transform: none;
                display: inline-block;
                white-space: nowrap;
                word-wrap: normal;
                direction: ltr;
                -webkit-font-feature-settings: 'liga';
                -webkit-font-smoothing: antialiased;
            }
        link(type='text/css', rel='stylesheet', href='/public/css/materialize.min.css' media='screen,projection')
        script(type='text/javascript', src='/public/js/jquery-2.2.2.min.js')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        block head
    body
        block body
        script(type='text/javascript', src='/public/js/materialize.min.js')
        block scripts
