style.
<<<<<<< HEAD
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    main {
        flex: 1 0 auto;
    }
=======
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
>>>>>>> b7f1cd8cfd2e050f01f341f5b9eb91591821da7b
